<@charset="UTF-8">

body{
    background-color: rgb(224, 163, 199);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    }
    h1{color: rgb(8, 73, 17); font-family:Arial, Helvetica, sans-serif;font-size: 25px;text-decoration: overline;
    }
    h2{font-size: 20px;color:crimson;background-color: rgb(212, 139, 154);
    }
    